<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Contacto</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="vendor/wow/animate.min.css">
    <link rel="stylesheet" href="vendor/reveal/reveal.css">
    <meta name="viewport" content="width=device-width, initial-sacle=1">
</head>

<body style="background-color: white;">
    <div class="container-header header-no-index">
        <div class="logo-header wow fadeInDown">
            <img class="logo-h hvr-pulse" src="images/logo.png" alt="">
        </div>
        <header class="header-back">
            <div class="menu-bar text-com">
                <a class="br-menu"><span class="icon-menu"></span>
                    MENU
                </a>
            </div>
            <div class="row around-xs center-xs middle-xs title-nav text-com wow fadeIn">
                <a href="#" class="logo wow fadeInLeftBig"><img src="images/logo-nav.png" alt=""></a>
                <nav class="col-xs-12 center-xs">
                    <ul class="center-xs">
                        <li class="item-nav hvr-bob">
                            <a class="text-nav" href="">
                                <p>HABITACIONES</p>
                            </a>
                        </li>
                        <li class="item-nav hvr-bob">
                            <a class="text-nav" href="">
                                <p>SERVICIOS</p>
                            </a>
                        </li>
                        <li class="item-nav hvr-bob">
                            <a class="text-nav" href="">
                                <p>RESERVAS</p>
                            </a>
                        </li>
                        <li class="item-nav hvr-bob">
                            <a class="text-nav" href="">
                                <p>UBICACIÓN</p>
                            </a>
                        </li>
                        <li class="item-nav hvr-bob">
                            <a class="text-nav" href="">
                                <p>CONTACTO</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <div class="row contenedor-2">
        <div class="col-xs-12 col-sm-5">
            <div class="end-xs">
                <h2 class="title-solid-3  wow fadeInUp" data-wow-delay="1s">Contacto</h2>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 texto-gris text-sub wow fadeInUp" data-wow-delay="1s">
            <p class="text-com">Ahorre tiempo, antes de llamar o enviar su mail, reserve por éste medio y a la mayor brevedad le devolveremos un correo contestando sus inquietudes.</p>
        </div>
        <div id="myModal" class="reveal-modal">
            <div class="row reserva-reveal middle-xs between-xs center-xs">
                <div class="col-xs-12 center-xs">
                    <h1 class="text-gracias">¡Gracias!</h1>
                </div>
            </div>
            <br>
            <div class="col-xs-12">
                <p class="text-reveal">Recibimos tu mensaje, a la mayor brevedad contestaremos tus inquietudes. Agradecemos tu mensaje y queremos brindarte una experiencia si igual</p>
            </div>
            <div class="col-xs-12 center-xs">
                <button class="btn-conf text-com"><a style="text-decoration:none; color: #b5b5b5;" href="contacto.html">Volver</a><span class="title-2"><b>>></b></span></button>
            </div>
        </div>
        <div class="contenedor-cont ">
            <form class="form row-2" action="">
                <div class="col-xs-12 col-sm-6">
                    <input class="input-cont text-com wow fadeInUp" data-wow-delay=".5s" type="text" placeholder="Nombre">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <input class="input-cont text-com wow fadeInUp" data-wow-delay=".5s" type="text" placeholder="Correo eletrónico">
                </div>
                <div class="col-xs-12 col-sm-4">
                    <select class="opt-cont text-com wow fadeInUp" data-wow-delay=".8s" name="hab" id="">
                        <option value="">Tipo Habitación</option>
                        <option value="">Habitación Doble</option>
                        <option value="">Habitación Sencilla</option>
                        <option value="">Habitación Triple</option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <select class="opt-cont text-com wow fadeInUp" data-wow-delay="1s" name="hues" id="">
                        <option value="">Número de Huespedes</option>
                        <option value="">1 Persona</option>
                        <option value="">2 Personas</option>
                        <option value="">3 Personas</option>
                        <option value="">4 Personas</option>
                        <option value="">5 Personas</option>
                        <option value=""></option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <input class="opt-cont text-com wow fadeInUp" data-wow-delay=".8s" type="text" placeholder="Fecha">
                </div>
                <div class="col-xs-12 col-sm-12">
                    <input class="input-cont-msn text-com wow fadeInUp" type="text" placeholder="Comentario">
                </div>
                <div class="col-xs-12 center-xs">
                    <button type="submit" class="btn-cont text-com  wow fadeIn"><a data-reveal-id="myModal" href="" style="text-decoration:none; color: #fff;">Enviar<span class="title-cont"><b>>></b></span></a></button>
                </div>
            </form>
            <div class="text-com texto-gris start-xs col-xs-12 wow fadeInUp">
                <div class="ry-cont"></div>
                <div class="text-contac-1">
                    <p class=" text-cont">Dirección: </p> <span class="span-cont">Calle 3 Nº 1A-66 Sáchica - Boyacá - Colombia</span>
                </div>
                <div class="text-contac">
                    <p class="text-cont">Teléfono: </p> <span class="span-cont">(57) 8 - 734 21 88</span>
                </div>
                <div class="text-contac">
                    <p class="text-cont">Celular: </p> <span class="span-cont">(57) 314 353 0369</span>
                </div>
                <div class="text-contac">
                    <p class="text-cont">email: </p> <span class="span-cont">contactenos@hotelcalleprincipal.com</span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="center-xs ">
        <!--  parallax -->
        <section class="full-section parallax" id="section-2" data-stellar-background-ratio="0.1">

            <div class="full-section-shadow-top"></div>
            <div class="full-section-shadow-bottom"></div>
            <div class="full-section-container">
                <div class="center-xs wow fadeInUp">
                    <h1 class="title-parallax text-com"> <b>Sáchica</b></h1>
                    <h3 class="text-parallax text-argon">Un lugar para descubrir</h3>
                    <h4 class="text-parallax-2 text-com hvr-pulse">conoce màs <a href=""> <h4 class="link-parallax">>></h4></a>
                    </h4>
                </div>
            </div>
        </section>
    </div>
    <div id="map"></div>
    <footer id="footer">
        <div class="footer ">
            <div class="col-xs-12 col-sm-8">
                <h5 class="text-footer text-com">
            Dirección: Calle 3 N° 1A - 66 Sáchica - Boyacá - Colombia <br>
            Teléfono: (57) 8 - 7342188 <br>
            Celular: (57) 34353 0369 <br>
            email: contactenos@hotelcalleprincipal.com
        </h5>
            </div>
            <div class="col-xs-12 col-sm-4 logo-footer center-xs">
                <img class="img-footer" src="images/logo.png" alt="">
            </div>
        </div>
    </footer>
</body>
<!-- /* jQuery needs to be attached */-->
<script src="vendor/reveal/jquery-1.4.4.min.js" type="text/javascript"></script>

<!-- /* Then just attach the Reveal plugin */ -->
<script src="vendor/reveal/jquery.reveal.js" type="text/javascript"></script>
<!--jquery -->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!--google maps -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="vendor/wow/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<!--main -->
<script type="text/javascript" src="js/main.js"></script>

</html>